.App {
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.List {
  list-style: none;
  display: flex;
  align-items: center;
  width: 50rem;
  margin: 0rem auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.233);
  padding: 1rem;
  justify-content: space-between;
}

.List-header {
  display: flex;
  align-items: center;
}

.List-header h2 {
  color: rgb(255, 255, 255);
}

.List-img {
  width: 6rem;
  height: 6rem;
  /* border-radius: 100%; */
  margin-right: 2rem;
  object-fit: contain;
}

.List-note {
  width: 30%;
  text-align: left;
}

.AddToList {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto;
}

.AddToList-input {
  padding: 0.5rem;
  font-size: 0.8rem;
  margin: 0.3rem 0rem;
  outline: none;
}

.AddToList-btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #3178c6;
  font-weight: 700;
  color: white;
  border: none;

  :hover {
    background-color: #000;
  }
}

.AddToList-btn:hover {
  background-color: #104261;
  transition: ease 0.5s;
}
